Repository DarryStonem/OpenHackDevOps, changes with the owners that CODEOWNERS names for each.
All owners: @julio-n1, jorgeperezuy@gmail.com, @alejandrotrejogarcia, @DarryStonem

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Docker Fixes
  .github/workflows/userApiDocker.yml
Owners: none

Docker Fixes
  .github/workflows/userApiDocker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
  .github/workflows/TripsAPI.yml
  .github/workflows/UserJava_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
  .github/workflows/TripsAPI.yml
  .github/workflows/UserJava_Docker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @julio-n1

Update README.md
  apis/poi/README.md
Owners: @julio-n1

Update README.md
  apis/poi/README.md
Owners: @julio-n1

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Docker Fixes
  .github/workflows/Poi_Docker.yml
  apis/poi/README.md
Owners: @julio-n1

Update TripsAPI.yml
  .github/workflows/TripsAPI.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update TripsAPI.yml
  .github/workflows/TripsAPI.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update TripsAPI.yml
  .github/workflows/TripsAPI.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update UserJava_Docker.yml
  .github/workflows/UserJava_Docker.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: jorgeperezuy@gmail.com

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update userApiDocker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

Update Poi_Docker.yml
  .github/workflows/Poi_Docker.yml
Owners: none

CODEOWNERS:

# JULIO
/apis/poi/ @julio-n1

# JORGE
/apis/user-java/ jorgeperezuy@gmail.com

# ALEJANDRO
/apis/trips/ @alejandrotrejogarcia

# CRISTIAN
/apis/userprofile/ @DarryStonem
