Repository DarryStonem/OpenHackDevOps, changes with the owners that CODEOWNERS names for each.
All owners: @julio-n1, jorgeperezuy@gmail.com, @alejandrotrejogarcia, @DarryStonem

CODEOWNERS:

# JULIO
/apis/poi/ @julio-n1

# JORGE
/apis/user-java/ jorgeperezuy@gmail.com

# ALEJANDRO
/apis/trips/ @alejandrotrejogarcia

# CRISTIAN
/apis/userprofile/ @DarryStonem

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update Dockerfile
  apis/poi/web/Dockerfile
Owners: @julio-n1

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Api Break
  apis/poi/web/Models/Healthcheck.cs
Owners: @julio-n1

Restore API
  apis/poi/web/Models/Healthcheck.cs
Owners: @julio-n1

API Restore
  apis/poi/web/Models/Healthcheck.cs
Owners: @julio-n1

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @julio-n1

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Update azure_docker.yml
  .github/workflows/azure_docker.yml
Owners: none

Create TripsAPI.yml
  .github/workflows/TripsAPI.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @alejandrotrejogarcia

User Profile Docker
  .github/workflows/userApiDocker.yml
  apis/userprofile/README.md
Owners: @DarryStonem

User Profile Docker
  .github/workflows/userApiDocker.yml
Owners: none

Create azure_docker_user-java.yml
  .github/workflows/azure_docker_user-java.yml
Owners: none

User Profile Docker
  .github/workflows/userApiDocker.yml
Owners: none

Update TripsAPI.yml
  .github/workflows/TripsAPI.yml
Owners: none

User Profile Docker
  .github/workflows/userApiDocker.yml
Owners: none

Removed Unit Testings
  .github/workflows/userApiDocker.yml
Owners: none

Delete azure_docker_user-java.yml
  .github/workflows/azure_docker_user-java.yml
Owners: none

Create Update Docker User-Java
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Update Update_Docker_User-Java.yml
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Delete Update_Docker_User-Java.yml
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Create Update_Docker_User-Java.yml
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @alejandrotrejogarcia

Build Tags for Docker
  .github/workflows/TripsAPI.yml
  .github/workflows/azure_docker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  apis/userprofile/README.md
Owners: @DarryStonem

Build Tags for Docker
  .github/workflows/TripsAPI.yml
  .github/workflows/azure_docker.yml
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  apis/userprofile/README.md
Owners: @DarryStonem

Update README.md
  apis/user-java/README.md
Owners: jorgeperezuy@gmail.com

Update Update_Docker_User-Java.yml
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Build Tags for Docker
  apis/userprofile/README.md
Owners: @DarryStonem

Update Update_Docker_User-Java.yml
  .github/workflows/Update_Docker_User-Java.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none

Build Tags for Docker
  .github/workflows/userApiDocker.yml
Owners: none
